:host {
  position: relative;
  display: inline-block;
  bottom: 1em;
}

:host(.important) {
  color: var(--senary-color);
}

.tooltip-container {
  font-weight: normal;
  background-color: var(--senary-color);
  color: var(--quinary-color);
  position: absolute;
  top: -2em;
  left: 100%;
  width: max-content;
  z-index: 10;
  padding: 0.5em;
  border-radius: 0.5em;
  font-size: 0.8em;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.26);
}

span {
  cursor: help;
}